.vscode/**
.vscode-test/**
src/**
out-test/**
dist/test/**
inner-loop-os/**
test-workspace/**
tsconfig.json
tsconfig.test.json
.github/**
.gitignore
.git/**
node_modules/**
!dist/**
!media/icon.png
!media/icon.svg
